*{
    box-sizing: border-box
}
h1 {
    border: 3px solid green
}
.box {
    border: 5px solid;
    height: 100px;
    padding: 2em;
    
}
.Box2 {
    border: 3px dashed blue;
    padding: 1em; 
}
li{
    border: 3px dashed green;
    padding: 1em;
    margin-top: 1em;
}


.inlineblock li{
   display: inline-block;
   border: 3px dashed red;
   padding: 1em;
}
.inline li{
    display: inline;
    padding: 1em;
    margin-top: 1em;
    margin-bottom: 1em; 
    border: 3px dashed purple;
}

.row div {
    float: left;
}
.box-1-3{
    width: 33.33%;
    border: 1px solid;
    padding: 1em;
}
.box-1-2{
    width: 50%;
    border: 1px solid;
    padding: 1em;
}
.box3{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2em;
    height: 5em;
}
.row{
    display: flex;
    flex-flow: row-reverse
}
.row div{
/*  flex-grow: 1; flex-shrink:1; flex-basis: 1em; */
    flex-grow:1; 
}
.col{
    display: flex;
    flex-flow: column-reverse;
    }


footer p {
  text-align: center;
}

.gulur {
	background-color: yellow; 
}
.raudur {
	background-color: red; 
}
.graenn {
	background-color: lime;
}
.blar {
	background-color: cyan; 
}
.box {
	font-size: 1.2em;
	height: 5em;
}
